<!DOCTYPE html>
<html>
<head>
    <title>Bank 266</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../resources/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<!--    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">-->

</head>
<body>
<div class="main">
    <h2 class="welcome" align="center">Welcome to Bank 266 </h2>
    <p class="sign" align="center">Sign in</p>
    <form class="form1">
        <input class="un " type="text" align="center" placeholder="Username" pattern="/[_\\-\\.0-9a-z]/">
        <input class="pass" type="password" align="center" placeholder="Password" pattern="/[_\\-\\.0-9a-z]/">
        <input type="submit" class="submit" align="center" value="Sign in">
<!--        <a class="submit" align="center">Sign in</a>-->
        <p class="forgot" align="center"><a href="#">Forgot Password? </a></p>
        <p class="signup" align="center">Don't have an account? <a href="#"> Register here </a></p>
    </form>

</div>
</body>
</html>






